body,
html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #fff;
    height: 100%;
}


/*Barra de navegación*/
.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 7.1vh;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-height: 40px;
    margin-left: 15%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    margin-right: 5%;
    padding: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ffd700;
}

/*Menú*/
.menu-circular {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toggle-btn {
    background-color: #003077;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    bottom: 70px;
    right: 0;
}

.menu-list li {
    transform: translateY(200%);
    background-color: #003077;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 10vh;
    padding: 5px;
}

.menu-list a {
    font-style: normal;
    text-decoration: none;
    color: aliceblue;
}

.menu-list.active {
    display: block;
}

.menu-list.active li {
    transition: transform 0.3s ease;
    transform: translateY(0);
}


/*Hero*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("https://static.wixstatic.com/media/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg/v1/fill/w_1646,h_600,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg");
    height: 80vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Ajustamos la imagen para que cubra todo el contenedor */
    position: relative;
}

.hero-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    height: 5vh;
    width: 30%;
    border-radius: 8px;
    text-decoration: none;
    border-width: 0;
    background-color: #7858db;
    box-shadow: 5px 5px 2px 3px;
}

.hero-text button:hover {
    background-color: #4e4596;
    transform: scale(1) translate(5%, 3%);
}

.hero-text button:active {
    transform: scale(1) translate(6%, 4%);
}


/*"Footer"*/
.foot {
    margin-top: 5%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    border-radius: 10px 10px;
}